.root * {
    /*-fx-background-color: rgba(255, 255, 255, 1);*/
    /*-fx-background-color: red;*/
    -fx-font: 12px "Menlo";
    /*-fx-base: rgba(255, 255, 255, 1);*/
    /*-fx-background: rgba(255, 255, 255, 1);*/
}

.mainWindow {
    /*-fx-background-color: red;*/
}

.test {
    -fx-background-color: #999999;
    /*-fx-background-image: url("https://www.google.com/images/srpr/logo3w.png");*/
}

.currentRow * {
    -fx-background-color: #999999;
    -fx-text-fill: #ffffff;
}

.dirRow * {
    -fx-text-fill: #3333ff;
}

.markedRow * {
    -fx-text-fill: #ff0066;
}

.markContent {
    -fx-alignment: CENTER_RIGHT;
}

.sizeContent {
    -fx-alignment: CENTER_RIGHT;
}

/* configure window */

.dialogBackground {
    -fx-background-color: rgba(0,0,0,0.5);
}

.dialogForeground {
    -fx-background-color: #ffffff;
}